@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Pacifico&family=Source+Code+Pro&display=swap'); 

* {
    font-family: 'Source Code Pro', monospace; 
    letter-spacing: 4px;
    background-color: rgb(54, 54, 54);
}

.container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
text-align: center;
min-height: 100vh;
}

.btn-1 {
    width: 300px;
    height: 100px;
    border: none;
    color: darkgray;
    background-color: rgb(34, 255, 0);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #c4f906;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}

.btn-1:hover {
    box-shadow: inset 300px 0 0 0 #f5f906;
    cursor: pointer;
    color: black;
}



.btn-2 {
    width: 300px;
    height: 100px;
    border: none;
    color: darkgray;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid #4267fb;
    position: relative;
    z-index:1 ;

}


.btn-2:hover {
    color: azure;
    cursor: pointer;
}



.btn-2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    opacity: 0;
    content:"";
    background-color: aqua;
}

.btn-2:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity:1;
    z-index: -1;
}